package TicTacToe;


import javax.swing.*;

public class TTT_App extends JFrame{


    TTT_App() {
        TTT_Canvas canvas = new TTT_Canvas();
        add(canvas);
        setSize(450,450);
        setDefaultCloseOperation(EXIT_ON_CLOSE);
        setLocationRelativeTo(null);
        setVisible(true);
    }
}
